/* Estilos generales */
* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: 'Hanken Grotesk', sans-serif;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    vertical-align: top;
    padding: 20px;
}

/* Estilos del encabezado */
header {
    color: #333333;
    padding: 20px;
    text-align: center;
}

h1 {
    margin: 0;
    font-size: 36px;
}

/* Estilos de los bloques de contenido */

@media only screen and (max-width: 1800px) {
    #izq {
        width: 40%;
    }

    #der {
        width: 56%;
    }
}

.section {
    /* width: 48%; */
    margin: 20px 0;
    padding: 20px;
    background-color: #f5f5f5;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}

#map-container {
    position: relative;
    z-index: 10;
    height: 400px;
    width: 100%;
}

#map {
    height: 100%;
    width: 100%;
    position: absolute;
    z-index: 1;
    top: 0px;
    /* ajustar según sea necesario */
}

@media only screen and (max-width: 1080px) {
    #izq {
        width: 48%;
    }

    #der {
        width: 48%;
    }
}

@media only screen and (max-width: 768px) {
    #izq {
        width: 100%;
    }

    #der {
        width: 100%;
    }
}

h2 {
    font-size: 24px;
    margin-bottom: 10px;
}

/* Estilos del mapa */
#map {
    height: 400px;
    width: 100%;
    z-index: 1;
}

/* Estilos del pie de página */
footer {
    background-color: #3f51b5;;
    color: #fff;
    padding: 20px;
    text-align: center;
    flex-shrink: 0;
}