body {
  font-family: "Hanken Grotesk", sans-serif;
}
.nav-custom {
  background-color: #3f51b5;
}

.nav-link {
  margin-right: 10px;
  color: #ffffff;
}

.navbar-nav li a {
  color: #ffffff;
  border-radius: 5px;
}

.navbar-nav li a:hover {
  background-color: #ffffff;
  color: #3f51b5;
}
